<!DOCTYPE html>
<html ng-app="characterBuilder">
  <head>
    <title>Pathfinder Character Builder</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="ClassController as classController">
    <header>
      <h1 class="text-center">Pathfinder Character Builder</h1>
    </header>
    <div class="list-group">
      <div class="list-group-item" ng-repeat="class in classController.classes">
        <h3>{{ class.name }}</h3>
        <p>{{ class.shortDescription }}</p>
        <section ng-controller="TabController as tab">
          <ul class="nav nav-pills">
            <li ng-class="{ active:tab.isSet(1) }">
              <a href="" ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active:tab.isSet(2) }">
              <a href="" ng-click="tab.setTab(2)">Role</a>
            </li>
            <li ng-class="{ active:tab.isSet(3) }">
              <a href="" ng-click="tab.setTab(3)">Specs</a>
            </li>
            <li ng-class="{ active:tab.isSet(4) }">
              <a href="" ng-click="tab.setTab(4)">Skills</a>
            </li>
            <li ng-class="{ active:tab.isSet(5) }">
              <a href="" ng-click="tab.setTab(5)">Table</a>
            </li>
          </ul>

          <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <p>{{ class.description }}</p>
          </div>

          <div ng-show="tab.isSet(2)">
            <h4>Role</h4>
            <p>{{ class.role }}
          </div>

          <div ng-show="tab.isSet(3)">
            <h4>Specs</h4>
            <ul>
              <li>Hit Die: d{{ class.hitDie }}</li>
              <li>Skill Ranks per Level: {{ class.skillRanksPerLevel }} + Int modifier</li>
              <li>Alignment: {{ class.alignment }}</li>
            </ul>
          </div>

          <div ng-show="tab.isSet(4)">
            <h4>Class Skills</h4>
            <ul>
              <li ng-repeat="skill in class.classSkills">{{ skill }}</li>
            </ul>
          </div>

          <!-- Table -->
          <div ng-show="tab.isSet(5)">
            <h4>Table: {{ class.name  }}</h4>
            <table data-toggle="table" class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th data-field="level">Level</th>
                  <th data-field="bab">BAB</th>
                  <th data-field="fort">Fort Save</th>
                  <th data-field="reflex">Reflex Save</th>
                  <th data-field="will">Will Save</th>
                  <th data-field="specials">Specials</th>
                  <th data-field="spells1" ng-show="classController.hasSpells(class.name, 1)">1st</th>
                  <th data-field="spells2" ng-show="classController.hasSpells(class.name, 2)">2nd</th>
                  <th data-field="spells3" ng-show="classController.hasSpells(class.name, 3)">3rd</th>
                  <th data-field="spells4" ng-show="classController.hasSpells(class.name, 4)">4th</th>
                  <th data-field="spells5" ng-show="classController.hasSpells(class.name, 5)">5th</th>
                  <th data-field="spells6" ng-show="classController.hasSpells(class.name, 6)">6th</th>
                  <th data-field="spells7" ng-show="classController.hasSpells(class.name, 7)">7th</th>
                  <th data-field="spells8" ng-show="classController.hasSpells(class.name, 8)">8th</th>
                  <th data-field="spells9" ng-show="classController.hasSpells(class.name, 9)">9th</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in classController.getSpellsPerDayForClass(class.name)">
                  <td>{{ row.level }}</td>
                  <td>{{ row.baseAttackBonus }}</td>
                  <td>{{ row.fortSave }}</td>
                  <td>{{ row.reflexSave }}</td>
                  <td>{{ row.willSave }}</td>
                  <td><span ng-repeat="special in row.specials">{{ special }}{{$last ? '' : ', '}}</span></td>
                  <td ng-repeat="spells in row.spellsPerDay">
                  {{ spells.spells }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <footer>
      Pathfinder is the registered trademark of <a href="http://paizo.com/">Paizo</a>.
    </footer>
  </body>
</html>
